html, body {
    margin: 0;
    padding: 0;
    font-family: 'Gotham', 'Helvetica Neue', 'Helvetica', sans-serif;
    width: 100%;
   }

   .logo {
     float: right;
     color: white;
   }

   .header {
    /* position: fixed; */
    background-color: black;
    z-index: 1000;
    height: 100px;
    padding: 15px;
   }
   
   .header img {
    display: inline-block;
   }
   
   .header h1 {
      font-family: 'Helvetica Neue';
      text-transform: uppercase;
      font-weight: bold;
      display: inline-block;
   }
   
   .main {
    background-color: #f2f2f2 ;
    padding: 40px 0;
   }
   
   .main h1 {
    color: rgb(216, 13, 16) ;
    font-family: 'Gotham', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 64px;
    margin: 0 0 40px 0;
    padding: 0px 0;
      line-height: 60px;
      width: 50%;
   }
   
   .main h2 {
    background-color: #DDDDDD ;
    color: #999999 ;
    font-size: 20px;
    margin: 0 0 40px 0;
    padding: 20px 20px 20px 20px;
   }

   .thumbnail {
    border: 0px;
    min-height: 660px;
    position: relative;
    padding: 20px;
      border-radius: 0;
      margin-bottom:50px;
   }

   .thumbnail:hover {
    color: rgb(255, 255, 255) ;
      background: rgb(0, 0, 0);
      transition: background 200ms;
   }
   
   .thumbnail img {
    margin-top: 10px;
    margin-bottom: 30px;
    max-width: 100%;
   }

   .title {
    color: rgb(219, 47, 47);
    margin: 0;
    text-transform: uppercase;
    font-size: 24px;
      font-weight: 600;
   }

   .color {
    font-family: 'Helvetica Neue';
    /* text-transform: uppercase; */
    font-size: 16px;
      font-weight: 600;
   }
   
   /* .title,
   .date {
    color: #444;
    margin: 0;
    font-size: 18px;
      font-weight: 800;
   }
   
   .date {
      color: #a3a3a3 ;
      font-size: 14px;
      font-weight: 200;
   } */
   
   .price {
    background-color: rgb(216, 29, 54) ;
    color: #fff;
    font-size: 14px;
      border-radius: 0%;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      font-weight: 200;
      height: 110px;
      line-height: 110px;
      text-align: center;
      width: 110px;
    position: absolute;
    top: -10px;
    right: -20px;
   }
   
   .rating {
    text-align: right;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
    margin: 30px 0 -30px 20px;
   }
   
   .likes {
      background: rgb(100, 202, 65) ;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
      line-height: 40px;
      min-width: 40px;
      height: 40px;
      border-radius: 0%;
    margin: 0 0px 0 0px;
      text-align: center;
      font-weight: 200;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      transition: background 500ms;
   }

   .dislikes {
      background: #F65A5B ;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
      line-height: 40px;
      min-width: 40px;
      height: 40px;
      border-radius: 0%;
    margin: 0 0px 0 0px;
      text-align: center;
      font-weight: 200;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      transition: background 500ms;
   }
   
   .likes:hover,
   .dislikes:hover {
    color: rgb(255, 255, 255) ;
      background: rgba(104, 99, 99, 0.25);
      transition: background 500ms;
   }
   
   .footer {
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 0px 0 4px 0;
   }
   
   .footer h2 {
    margin: 20px;
    font-size: 14px;
    /* padding-bottom: 0px; */
   }
   
   /* .footer img {
      margin: 0 10px;
   } */

   
   